# General
RUNS=10

# Client
CLI_FLOWS=16
CLI_SIZE=128
CLI_QUEUES=1
CLI_DISTRIBUTION=exponential
CLI_RATE_START=10000
CLI_RATE_JUMPS=10000

# Server
SRV_ARCH=newdispatcher
SRV_CORES="2,4,6,8,10,12,14,16,18"
SRV_HTs="1 7"
SRV_APPLICATION="stridedmem:11534336:7"
SRV_DISTRIBUTION="bimodal"
SRV_MEAN="1_100000"
SRV_MODE="0.5"
SRV_ITERATIONS0="533"
SRV_ITERATIONS1="54956"
